<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>公众号授权</title>
</head>
<body class="nav-md">
<div class="right_col" role="main">
<div class="container body">
<form  method="post" action="/wx/wxAuth">
    <br /> <br /> <br />
    <br /> <br /> <br />

    <div style="width: 550px;margin: auto">
        <input type="submit" value="公众号授权"  style="width: 200px; background-color: red; height: 30px" />
    </div>

</form>
</div>
</div>
</body>
</html>