<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luer.WLapi.dao.WLapiMapper">
    <insert id="importData" parameterType="java.util.List">
        insert ignore marketing_member(phone,merchant_id,add_time,status,source,code)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.phone},#{item.merchantId},#{item.addTime},#{item.status},#{item.source},#{item.code})
        </foreach>
    </insert>
</mapper>
