<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luer.marketingSchemeManage.dao.VValueabledPlansMapper" >
  <resultMap id="BaseResultMap" type="com.luer.marketingSchemeManage.bean.VValueabledPlans" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="is_different" property="isDifferent" jdbcType="INTEGER" />
    <result column="from_merchant_id" property="fromMerchantId" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="describe1" property="describe1" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tell" property="tell" jdbcType="VARCHAR" />
    <result column="commission_type_one" property="commissionTypeOne" jdbcType="VARCHAR" />
    <result column="commission_type_two" property="commissionTypeTwo" jdbcType="VARCHAR" />
    <result column="commission_type_three" property="commissionTypeThree" jdbcType="VARCHAR" />
    <result column="coupon_type" property="couponType" jdbcType="VARCHAR" />
    <result column="preferential_way" property="preferentialWay" jdbcType="VARCHAR" />
    <result column="value_one" property="valueOne" jdbcType="VARCHAR" />
    <result column="value_two" property="valueTwo" jdbcType="VARCHAR" />
    <result column="value_tree" property="valueTree" jdbcType="VARCHAR" />
    <result column="other_descripe" property="otherDescripe" jdbcType="VARCHAR" />
    <result column="usage_rule" property="usageRule" jdbcType="VARCHAR" />
    <result column="support_store" property="supportStore" jdbcType="VARCHAR" />
    <result column="coupons_number" property="couponsNumber" jdbcType="INTEGER" />
    <result column="acceptmerchant" property="acceptmerchant" jdbcType="VARCHAR" />
    <result column="merchant" property="merchant" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="coupon_url" property="couponUrl" jdbcType="VARCHAR" />
    <result column="coupons_source" property="couponsSource" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="INTEGER" />


  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.luer.marketingSchemeManage.bean.VValueabledPlans" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id,content,title, is_different, from_merchant_id, district, city, province, country, remark,
    begin_time, end_time, describe1, name, tell, commission_type_one, commission_type_two, 
    commission_type_three, coupon_type, preferential_way, value_one, value_two, value_tree, 
    other_descripe, usage_rule, support_store, coupons_number, acceptmerchant, merchant, 
    status, add_time, merchant_id,coupon_url,coupons_source,result
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.luer.marketingSchemeManage.bean.VValueabledPlansExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from v_valueabled_plans
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luer.marketingSchemeManage.bean.VValueabledPlansExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from v_valueabled_plans
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    and  coupon_url is not null
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.luer.marketingSchemeManage.bean.VValueabledPlansExample" >
    delete from v_valueabled_plans
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luer.marketingSchemeManage.bean.VValueabledPlans" >
    insert into v_valueabled_plans (id, title, is_different, 
      from_merchant_id, district, city, 
      province, country, remark, 
      begin_time, end_time, describe1, 
      name, tell, commission_type_one, 
      commission_type_two, commission_type_three, 
      coupon_type, preferential_way, value_one, 
      value_two, value_tree, other_descripe, 
      usage_rule, support_store, coupons_number, 
      acceptmerchant, merchant, status, 
      add_time, merchant_id, content
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{isDifferent,jdbcType=INTEGER}, 
      #{fromMerchantId,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{describe1,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{tell,jdbcType=VARCHAR}, #{commissionTypeOne,jdbcType=VARCHAR}, 
      #{commissionTypeTwo,jdbcType=VARCHAR}, #{commissionTypeThree,jdbcType=VARCHAR}, 
      #{couponType,jdbcType=VARCHAR}, #{preferentialWay,jdbcType=VARCHAR}, #{valueOne,jdbcType=VARCHAR}, 
      #{valueTwo,jdbcType=VARCHAR}, #{valueTree,jdbcType=VARCHAR}, #{otherDescripe,jdbcType=VARCHAR}, 
      #{usageRule,jdbcType=VARCHAR}, #{supportStore,jdbcType=VARCHAR}, #{couponsNumber,jdbcType=INTEGER}, 
      #{acceptmerchant,jdbcType=VARCHAR}, #{merchant,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{merchantId,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luer.marketingSchemeManage.bean.VValueabledPlans" >
    insert into v_valueabled_plans
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="isDifferent != null" >
        is_different,
      </if>
      <if test="fromMerchantId != null" >
        from_merchant_id,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="describe1 != null" >
        describe1,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tell != null" >
        tell,
      </if>
      <if test="commissionTypeOne != null" >
        commission_type_one,
      </if>
      <if test="commissionTypeTwo != null" >
        commission_type_two,
      </if>
      <if test="commissionTypeThree != null" >
        commission_type_three,
      </if>
      <if test="couponType != null" >
        coupon_type,
      </if>
      <if test="preferentialWay != null" >
        preferential_way,
      </if>
      <if test="valueOne != null" >
        value_one,
      </if>
      <if test="valueTwo != null" >
        value_two,
      </if>
      <if test="valueTree != null" >
        value_tree,
      </if>
      <if test="otherDescripe != null" >
        other_descripe,
      </if>
      <if test="usageRule != null" >
        usage_rule,
      </if>
      <if test="supportStore != null" >
        support_store,
      </if>
      <if test="couponsNumber != null" >
        coupons_number,
      </if>
      <if test="acceptmerchant != null" >
        acceptmerchant,
      </if>
      <if test="merchant != null" >
        merchant,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="isDifferent != null" >
        #{isDifferent,jdbcType=INTEGER},
      </if>
      <if test="fromMerchantId != null" >
        #{fromMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="describe1 != null" >
        #{describe1,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tell != null" >
        #{tell,jdbcType=VARCHAR},
      </if>
      <if test="commissionTypeOne != null" >
        #{commissionTypeOne,jdbcType=VARCHAR},
      </if>
      <if test="commissionTypeTwo != null" >
        #{commissionTypeTwo,jdbcType=VARCHAR},
      </if>
      <if test="commissionTypeThree != null" >
        #{commissionTypeThree,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null" >
        #{couponType,jdbcType=VARCHAR},
      </if>
      <if test="preferentialWay != null" >
        #{preferentialWay,jdbcType=VARCHAR},
      </if>
      <if test="valueOne != null" >
        #{valueOne,jdbcType=VARCHAR},
      </if>
      <if test="valueTwo != null" >
        #{valueTwo,jdbcType=VARCHAR},
      </if>
      <if test="valueTree != null" >
        #{valueTree,jdbcType=VARCHAR},
      </if>
      <if test="otherDescripe != null" >
        #{otherDescripe,jdbcType=VARCHAR},
      </if>
      <if test="usageRule != null" >
        #{usageRule,jdbcType=VARCHAR},
      </if>
      <if test="supportStore != null" >
        #{supportStore,jdbcType=VARCHAR},
      </if>
      <if test="couponsNumber != null" >
        #{couponsNumber,jdbcType=INTEGER},
      </if>
      <if test="acceptmerchant != null" >
        #{acceptmerchant,jdbcType=VARCHAR},
      </if>
      <if test="merchant != null" >
        #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luer.marketingSchemeManage.bean.VValueabledPlansExample" resultType="java.lang.Integer" >
    select count(*) from v_valueabled_plans
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update v_valueabled_plans
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.isDifferent != null" >
        is_different = #{record.isDifferent,jdbcType=INTEGER},
      </if>
      <if test="record.fromMerchantId != null" >
        from_merchant_id = #{record.fromMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="record.district != null" >
        district = #{record.district,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.beginTime != null" >
        begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.describe1 != null" >
        describe1 = #{record.describe1,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.tell != null" >
        tell = #{record.tell,jdbcType=VARCHAR},
      </if>
      <if test="record.commissionTypeOne != null" >
        commission_type_one = #{record.commissionTypeOne,jdbcType=VARCHAR},
      </if>
      <if test="record.commissionTypeTwo != null" >
        commission_type_two = #{record.commissionTypeTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.commissionTypeThree != null" >
        commission_type_three = #{record.commissionTypeThree,jdbcType=VARCHAR},
      </if>
      <if test="record.couponType != null" >
        coupon_type = #{record.couponType,jdbcType=VARCHAR},
      </if>
      <if test="record.preferentialWay != null" >
        preferential_way = #{record.preferentialWay,jdbcType=VARCHAR},
      </if>
      <if test="record.valueOne != null" >
        value_one = #{record.valueOne,jdbcType=VARCHAR},
      </if>
      <if test="record.valueTwo != null" >
        value_two = #{record.valueTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.valueTree != null" >
        value_tree = #{record.valueTree,jdbcType=VARCHAR},
      </if>
      <if test="record.otherDescripe != null" >
        other_descripe = #{record.otherDescripe,jdbcType=VARCHAR},
      </if>
      <if test="record.usageRule != null" >
        usage_rule = #{record.usageRule,jdbcType=VARCHAR},
      </if>
      <if test="record.supportStore != null" >
        support_store = #{record.supportStore,jdbcType=VARCHAR},
      </if>
      <if test="record.couponsNumber != null" >
        coupons_number = #{record.couponsNumber,jdbcType=INTEGER},
      </if>
      <if test="record.acceptmerchant != null" >
        acceptmerchant = #{record.acceptmerchant,jdbcType=VARCHAR},
      </if>
      <if test="record.merchant != null" >
        merchant = #{record.merchant,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.merchantId != null" >
        merchant_id = #{record.merchantId,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update v_valueabled_plans
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      is_different = #{record.isDifferent,jdbcType=INTEGER},
      from_merchant_id = #{record.fromMerchantId,jdbcType=VARCHAR},
      district = #{record.district,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      describe1 = #{record.describe1,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      tell = #{record.tell,jdbcType=VARCHAR},
      commission_type_one = #{record.commissionTypeOne,jdbcType=VARCHAR},
      commission_type_two = #{record.commissionTypeTwo,jdbcType=VARCHAR},
      commission_type_three = #{record.commissionTypeThree,jdbcType=VARCHAR},
      coupon_type = #{record.couponType,jdbcType=VARCHAR},
      preferential_way = #{record.preferentialWay,jdbcType=VARCHAR},
      value_one = #{record.valueOne,jdbcType=VARCHAR},
      value_two = #{record.valueTwo,jdbcType=VARCHAR},
      value_tree = #{record.valueTree,jdbcType=VARCHAR},
      other_descripe = #{record.otherDescripe,jdbcType=VARCHAR},
      usage_rule = #{record.usageRule,jdbcType=VARCHAR},
      support_store = #{record.supportStore,jdbcType=VARCHAR},
      coupons_number = #{record.couponsNumber,jdbcType=INTEGER},
      acceptmerchant = #{record.acceptmerchant,jdbcType=VARCHAR},
      merchant = #{record.merchant,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      merchant_id = #{record.merchantId,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update v_valueabled_plans
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      is_different = #{record.isDifferent,jdbcType=INTEGER},
      from_merchant_id = #{record.fromMerchantId,jdbcType=VARCHAR},
      district = #{record.district,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      describe1 = #{record.describe1,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      tell = #{record.tell,jdbcType=VARCHAR},
      commission_type_one = #{record.commissionTypeOne,jdbcType=VARCHAR},
      commission_type_two = #{record.commissionTypeTwo,jdbcType=VARCHAR},
      commission_type_three = #{record.commissionTypeThree,jdbcType=VARCHAR},
      coupon_type = #{record.couponType,jdbcType=VARCHAR},
      preferential_way = #{record.preferentialWay,jdbcType=VARCHAR},
      value_one = #{record.valueOne,jdbcType=VARCHAR},
      value_two = #{record.valueTwo,jdbcType=VARCHAR},
      value_tree = #{record.valueTree,jdbcType=VARCHAR},
      other_descripe = #{record.otherDescripe,jdbcType=VARCHAR},
      usage_rule = #{record.usageRule,jdbcType=VARCHAR},
      support_store = #{record.supportStore,jdbcType=VARCHAR},
      coupons_number = #{record.couponsNumber,jdbcType=INTEGER},
      acceptmerchant = #{record.acceptmerchant,jdbcType=VARCHAR},
      merchant = #{record.merchant,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      merchant_id = #{record.merchantId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>